@{
    ViewData["Title"] = "Home Page";
}

@model List<Task_5.Models.Users>

<div class="text-center">
    <p>
        <a asp-controller="User" asp-action="Create">Create New</a>
    </p>
    <Table class="table">
        <thead>
            <tr>
                <th>
                    <h1>Name</h1>
                </th>
                <th>
                    <h1>Email</h1>
                </th>

            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model)
                {
                    @* <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    </tr> *@
                    <tr>
                        <td>@item.Name</td>  <!-- تأكد من أن هذه الحقول موجودة في الـ Model -->
                        <td>@item.Email</td>
                    </tr>
                }
    </tbody>
    </Table>
</div>

